

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
}

h1 {
    color: blue;
    text-align: center; 
}

form{
    background-color: rgba(233, 232, 232, 0.952);
    max-width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    border-color: rgb(253, 156, 10);
    box-shadow: 0 8px 8px rgb(24, 20, 20);
}

fieldset {
    border-color: black;
    border-style: dotted;
    margin-bottom: 15px;
    padding: 6px;
    background-color: rgba(250, 250, 250, 0.959);
}

legend {
    font-family: Arial, Helvetica, sans-serif;
    color: solid black;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    text-decoration: underline;
}

label {
    display: block;
    margin-top: 10px;
    font-size: medium;
    color: rgb(44, 33, 139);
    font-weight: 700;    
}

input {
    width: 70%;
    border-color:rgb(12, 12, 12) ;
    margin-bottom: 4px;
    padding: 2px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;

}

textarea {
    width: 70%;
    border-color:rgb(12, 12, 12) ;
    margin-bottom: 4px;
    padding: 2px;
    border-radius: 6px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

button {
    display: block;
    background-color: rgb(85, 247, 64);
    width: 30%;
    align-items: center;
    margin-left: 35%;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(92, 90, 90);
}

#resume-generate {
    background-color: rgba(233, 232, 232, 0.952);
    max-width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    border-color: rgb(253, 156, 10);
    box-shadow: 0 8px 8px rgb(24, 20, 20);
    align-items: center;
    margin-top: 4px;
    outline: none;
}

#resume-generate h2 {
    color: blue;
}
    